@page "/Cheep"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Razor.Pages.CheepModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<form method="post">
    <div class="row">
        <div class="col-md-6">
            <input type="text" id="authorInput" asp-for="Author" placeholder="Author" required="required">
        </div>
        <div class="col-md-6">
            <input type="text" id="CheepMessageInput" asp-for="CheepMessage" placeholder="Message" required="required"  maxlength="160" style="width: 300px;">
        </div>
        <div class="col-md-12 text-center">
            <button type="submit" asp-page-handler="Submit">Submit</button>
        </div>
    </div>
</form>
    <div class="pageNumber">
        <button onclick="location.href='/'">Go to page 1</button>
    </div>

@*
<!-- 
@{
    <div class="Form-group">
        <form method="post">
            <div class="form-group">
                <label asp-for="CheepMessage"></label>
                <textarea asp-for="CheepMessage" class="form-control" />
                <span asp-validation-for="CheepMessage"></span>
        </form>
        <button type="submit" class="btn btn-primary">Chirp!</button>
    </div>
} -->
*@