@page "/Cheep"
@model Chirp.Razor.Pages.CheepModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<form asp-page-handler="sendCheep" id="contact-form" method="post">
    <div class="messages"></div>
    <div class="controls">
        <div class="row">
            <div class="col-md-6">
                <input asp-for="CheepMessage.Author" placeholder="Author" required="required" class="form-control">
            </div>
            <div class="col-md-6">
                <input asp-for="CheepMessage.Message" placeholder="Cheep-text" required="required" class="form-control">
            </div>
            <div class="col-md-12 text-center">
                <button type="submit" asp-route-data="HttpPostAttribute" asp-page-handler="SendEmail" class="btn btn-outline-primary">Send message</button>
            </div>
        </div>
    </div>
    <div class="pageNumber">
        <button onclick="location.href='/?page=1'">Go to page 1</button>
    </div>
</form>
