@page
@model Chirp.Razor.Pages.CheepModel
@{
    <div class="Form-group">
        <form method="post">
            <div class="form-group">
                <label asp-for="NewCheep.Message"></label>
                <textarea asp-for="NewCheep.Message" class="form-control" />
                <span asp-validation-for="NewCheep.Message"></span>
        </form>
        <button type="submit" class="btn btn-primary">Chirp!</button>
    </div>
}